<!-- components/offcanvas-wishlist.html -->
<div class="offcanvas offcanvas-end" 
     data-bs-scroll="true" 
     data-bs-backdrop="true" 
     tabindex="-1" 
     id="offcanvas-wishlist" 
     aria-labelledby="offcanvasWishlistLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWishlistLabel">Your Favorites</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>No favorites yet.</p>
  </div>
</div>